In [ ]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
%%sql

DROP TABLE IF EXISTS soooojin_lee.name_gender;
CREATE TABLE soooojin_lee.name_gender (
  name varchar(32),
  gender varchar(8)
);

 * postgresql://soooojin_lee:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [ ]:
import psycopg2

# Redshift connection 함수
def get_Redshift_connection():
    host = "learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com"
    redshift_user = "soooojin_lee"
    redshift_pass = "****"
    port = 5439
    dbname = "dev"
    conn = psycopg2.connect("dbname={dbname} user={user} host={host} password={password} port={port}".format(
        dbname=dbname,
        user=redshift_user,
        password=redshift_pass,
        host=host,
        port=port
    ))
    conn.set_session(autocommit=True)
    return conn.cursor()

ETL 함수 정의

In [ ]:
import requests

def extract(url):
  f = requests.get(url)
  return (f.text)

In [ ]:
def transform(text):
  lines = text.split("\n")
  return lines

In [ ]:
def load(lines):
  cur = get_Redshift_connection()

  # 2. Idempotent 하게 job을 만들기
  # INSERT 문을 실행하기 전 테이블 존재 유무 확인하기
  sql = "DROP TABLE IF EXISTS soooojin_lee.name_gender"
  cur.execute(sql)
  sql = "CREATE TABLE soooojin_lee.name_gender (name varchar(32), gender varchar(8))"
  cur.execute(sql)

  for r in lines:
    if r != '':
      (name, gender) = r.split(",")

      # 1. 헤더가 레코드로 추가되는 문제 해결하기
      if name == "name" and gender == "gender":
        continue
      print(name, "-", gender)
      sql = "INSERT INTO soooojin_lee.name_gender VALUES ('{n}', '{g}')".format(n=name, g=gender)
      print(sql)
      cur.execute(sql)

In [ ]:
lines = transform(data)

In [ ]:
lines

['name,gender',
 'Adaleigh,F',
 'Amryn,Unisex',
 'Apurva,Unisex',
 'Aryion,M',
 'Alixia,F',
 'Alyssarose,F',
 'Arvell,M',
 'Aibel,M',
 'Atiyyah,F',
 'Adlie,F',
 'Anyely,F',
 'Aamoni,F',
 'Ahman,M',
 'Arlane,F',
 'Armoney,F',
 'Atzhiry,F',
 'Antonette,F',
 'Akeelah,F',
 'Abdikadir,M',
 'Arinze,M',
 'Arshaun,M',
 'Alexandro,M',
 'Ayriauna,F',
 'Aqib,M',
 'Alleya,F',
 'Aavah,F',
 'Anesti,Unisex',
 'Adalaide,F',
 'Analena,F',
 'Alaeyah,F',
 'Albena,F',
 'Aimi,F',
 'Adwaith,M',
 'Arkady,M',
 'Astyn,Unisex',
 'Adelee,F',
 'Agata,F',
 'Alegna,F',
 'Altan,M',
 'Ahnaleigh,F',
 'Algie,Unisex',
 'Ashanti,F',
 'Aislyn,F',
 'Adaleine,F',
 'Anthnoy,M',
 'Algernon,M',
 'Aeryona,F',
 'Adrinne,F',
 'Addell,F',
 'Avril,F',
 'Ahni,F',
 'Aimon,M',
 'Adolpho,M',
 'Ahuva,F',
 'Aurielle,F',
 'Aveana,F',
 'Aliyia,F',
 'Alesander,M',
 'Adnrea,F',
 'Anjae,F',
 'Alvine,F',
 'Adorah,F',
 'Adlemi,F',
 'Alesi,F',
 'Alontae,M',
 'Antonny,M',
 'Adarah,F',
 'Ayreanna,F',
 'Antyon,M',
 'Andia,F',
 'Ashla,F',
 'Aspyn,F',
 'Antwanett,F',
 'Aundreia,F',
 'Audella,F',
 'Amari,Unisex',
 'Arsha,Unisex',
 'Aricella,F',
 'Adan,M',
 'Apasra,F',
 'Alaysha,F',
 'Anderson,M',
 'Aurelius,M',
 'Aerial,F',
 'Averleigh,F',
 'Aslean,F',
 'Arniesha,F',
 'Asyana,F',
 'Annjane,F',
 'Amabella,F',
 'Austinjohn,M',
 'Arloween,F',
 'Alula,M',
 'Anemone,F',
 'Amorina,F',
 'Anureet,F',
 'Arric,M',
 'Antonne,M',
 'Alyre,M',
 'Annaise,F',
 '']

In [ ]:
load(lines)

Adaleigh - F
INSERT INTO soooojin_lee.name_gender VALUES ('Adaleigh', 'F')
Amryn - Unisex
INSERT INTO soooojin_lee.name_gender VALUES ('Amryn', 'Unisex')
Apurva - Unisex
INSERT INTO soooojin_lee.name_gender VALUES ('Apurva', 'Unisex')
Aryion - M
INSERT INTO soooojin_lee.name_gender VALUES ('Aryion', 'M')
Alixia - F
INSERT INTO soooojin_lee.name_gender VALUES ('Alixia', 'F')
Alyssarose - F
INSERT INTO soooojin_lee.name_gender VALUES ('Alyssarose', 'F')
Arvell - M
INSERT INTO soooojin_lee.name_gender VALUES ('Arvell', 'M')
Aibel - M
INSERT INTO soooojin_lee.name_gender VALUES ('Aibel', 'M')
Atiyyah - F
INSERT INTO soooojin_lee.name_gender VALUES ('Atiyyah', 'F')
Adlie - F
INSERT INTO soooojin_lee.name_gender VALUES ('Adlie', 'F')
Anyely - F
INSERT INTO soooojin_lee.name_gender VALUES ('Anyely', 'F')
Aamoni - F
INSERT INTO soooojin_lee.name_gender VALUES ('Aamoni', 'F')
Ahman - M
INSERT INTO soooojin_lee.name_gender VALUES ('Ahman', 'M')
Arlane - F
INSERT INTO soooojin_lee.name_gender VALUES ('Arlane', 'F')
Armoney - F
INSERT INTO soooojin_lee.name_gender VALUES ('Armoney', 'F')
Atzhiry - F
INSERT INTO soooojin_lee.name_gender VALUES ('Atzhiry', 'F')
Antonette - F
INSERT INTO soooojin_lee.name_gender VALUES ('Antonette', 'F')
Akeelah - F
INSERT INTO soooojin_lee.name_gender VALUES ('Akeelah', 'F')
Abdikadir - M
INSERT INTO soooojin_lee.name_gender VALUES ('Abdikadir', 'M')
Arinze - M
INSERT INTO soooojin_lee.name_gender VALUES ('Arinze', 'M')
Arshaun - M
INSERT INTO soooojin_lee.name_gender VALUES ('Arshaun', 'M')
Alexandro - M
INSERT INTO soooojin_lee.name_gender VALUES ('Alexandro', 'M')
Ayriauna - F
INSERT INTO soooojin_lee.name_gender VALUES ('Ayriauna', 'F')
Aqib - M
INSERT INTO soooojin_lee.name_gender VALUES ('Aqib', 'M')
Alleya - F
INSERT INTO soooojin_lee.name_gender VALUES ('Alleya', 'F')
Aavah - F
INSERT INTO soooojin_lee.name_gender VALUES ('Aavah', 'F')
Anesti - Unisex
INSERT INTO soooojin_lee.name_gender VALUES ('Anesti', 'Unisex')
Adalaide - F
INSERT INTO soooojin_lee.name_gender VALUES ('Adalaide', 'F')
Analena - F
INSERT INTO soooojin_lee.name_gender VALUES ('Analena', 'F')
Alaeyah - F
INSERT INTO soooojin_lee.name_gender VALUES ('Alaeyah', 'F')
Albena - F
INSERT INTO soooojin_lee.name_gender VALUES ('Albena', 'F')
Aimi - F
INSERT INTO soooojin_lee.name_gender VALUES ('Aimi', 'F')
Adwaith - M
INSERT INTO soooojin_lee.name_gender VALUES ('Adwaith', 'M')
Arkady - M
INSERT INTO soooojin_lee.name_gender VALUES ('Arkady', 'M')
Astyn - Unisex
INSERT INTO soooojin_lee.name_gender VALUES ('Astyn', 'Unisex')
Adelee - F
INSERT INTO soooojin_lee.name_gender VALUES ('Adelee', 'F')
Agata - F
INSERT INTO soooojin_lee.name_gender VALUES ('Agata', 'F')
Alegna - F
INSERT INTO soooojin_lee.name_gender VALUES ('Alegna', 'F')
Altan - M
INSERT INTO soooojin_lee.name_gender VALUES ('Altan', 'M')
Ahnaleigh - F
INSERT INTO soooojin_lee.name_gender VALUES ('Ahnaleigh', 'F')
Algie - Unisex
INSERT INTO soooojin_lee.name_gender VALUES ('Algie', 'Unisex')
Ashanti - F
INSERT INTO soooojin_lee.name_gender VALUES ('Ashanti', 'F')
Aislyn - F
INSERT INTO soooojin_lee.name_gender VALUES ('Aislyn', 'F')
Adaleine - F
INSERT INTO soooojin_lee.name_gender VALUES ('Adaleine', 'F')
Anthnoy - M
INSERT INTO soooojin_lee.name_gender VALUES ('Anthnoy', 'M')
Algernon - M
INSERT INTO soooojin_lee.name_gender VALUES ('Algernon', 'M')
Aeryona - F
INSERT INTO soooojin_lee.name_gender VALUES ('Aeryona', 'F')
Adrinne - F
INSERT INTO soooojin_lee.name_gender VALUES ('Adrinne', 'F')
Addell - F
INSERT INTO soooojin_lee.name_gender VALUES ('Addell', 'F')
Avril - F
INSERT INTO soooojin_lee.name_gender VALUES ('Avril', 'F')
Ahni - F
INSERT INTO soooojin_lee.name_gender VALUES ('Ahni', 'F')
Aimon - M
INSERT INTO soooojin_lee.name_gender VALUES ('Aimon', 'M')
Adolpho - M
INSERT INTO soooojin_lee.name_gender VALUES ('Adolpho', 'M')
Ahuva - F
INSERT INTO soooojin_lee.name_gender VALUES ('Ahuva', 'F')
Aurielle - F
INSERT INTO soooojin_lee.name_gender VALUES ('Aurielle', 'F')
Aveana - F
INSERT INTO soooojin_lee.name_gender VALUES ('Aveana', 'F')
Aliyia - F
INSERT INTO soooojin_lee.name_gender VALUES ('Aliyia', 'F')
Alesander - M
INSERT INTO soooojin_lee.name_gender VALUES ('Alesander', 'M')
Adnrea - F
INSERT INTO soooojin_lee.name_gender VALUES ('Adnrea', 'F')
Anjae - F
INSERT INTO soooojin_lee.name_gender VALUES ('Anjae', 'F')
Alvine - F
INSERT INTO soooojin_lee.name_gender VALUES ('Alvine', 'F')
Adorah - F
INSERT INTO soooojin_lee.name_gender VALUES ('Adorah', 'F')
Adlemi - F
INSERT INTO soooojin_lee.name_gender VALUES ('Adlemi', 'F')
Alesi - F
INSERT INTO soooojin_lee.name_gender VALUES ('Alesi', 'F')
Alontae - M
INSERT INTO soooojin_lee.name_gender VALUES ('Alontae', 'M')
Antonny - M
INSERT INTO soooojin_lee.name_gender VALUES ('Antonny', 'M')
Adarah - F
INSERT INTO soooojin_lee.name_gender VALUES ('Adarah', 'F')
Ayreanna - F
INSERT INTO soooojin_lee.name_gender VALUES ('Ayreanna', 'F')
Antyon - M
INSERT INTO soooojin_lee.name_gender VALUES ('Antyon', 'M')
Andia - F
INSERT INTO soooojin_lee.name_gender VALUES ('Andia', 'F')
Ashla - F
INSERT INTO soooojin_lee.name_gender VALUES ('Ashla', 'F')
Aspyn - F
INSERT INTO soooojin_lee.name_gender VALUES ('Aspyn', 'F')
Antwanett - F
INSERT INTO soooojin_lee.name_gender VALUES ('Antwanett', 'F')
Aundreia - F
INSERT INTO soooojin_lee.name_gender VALUES ('Aundreia', 'F')
Audella - F
INSERT INTO soooojin_lee.name_gender VALUES ('Audella', 'F')
Amari - Unisex
INSERT INTO soooojin_lee.name_gender VALUES ('Amari', 'Unisex')
Arsha - Unisex
INSERT INTO soooojin_lee.name_gender VALUES ('Arsha', 'Unisex')
Aricella - F
INSERT INTO soooojin_lee.name_gender VALUES ('Aricella', 'F')
Adan - M
INSERT INTO soooojin_lee.name_gender VALUES ('Adan', 'M')
Apasra - F
INSERT INTO soooojin_lee.name_gender VALUES ('Apasra', 'F')
Alaysha - F
INSERT INTO soooojin_lee.name_gender VALUES ('Alaysha', 'F')
Anderson - M
INSERT INTO soooojin_lee.name_gender VALUES ('Anderson', 'M')
Aurelius - M
INSERT INTO soooojin_lee.name_gender VALUES ('Aurelius', 'M')
Aerial - F
INSERT INTO soooojin_lee.name_gender VALUES ('Aerial', 'F')
Averleigh - F
INSERT INTO soooojin_lee.name_gender VALUES ('Averleigh', 'F')
Aslean - F
INSERT INTO soooojin_lee.name_gender VALUES ('Aslean', 'F')
Arniesha - F
INSERT INTO soooojin_lee.name_gender VALUES ('Arniesha', 'F')
Asyana - F
INSERT INTO soooojin_lee.name_gender VALUES ('Asyana', 'F')
Annjane - F
INSERT INTO soooojin_lee.name_gender VALUES ('Annjane', 'F')
Amabella - F
INSERT INTO soooojin_lee.name_gender VALUES ('Amabella', 'F')
Austinjohn - M
INSERT INTO soooojin_lee.name_gender VALUES ('Austinjohn', 'M')
Arloween - F
INSERT INTO soooojin_lee.name_gender VALUES ('Arloween', 'F')
Alula - M
INSERT INTO soooojin_lee.name_gender VALUES ('Alula', 'M')
Anemone - F
INSERT INTO soooojin_lee.name_gender VALUES ('Anemone', 'F')
Amorina - F
INSERT INTO soooojin_lee.name_gender VALUES ('Amorina', 'F')
Anureet - F
INSERT INTO soooojin_lee.name_gender VALUES ('Anureet', 'F')
Arric - M
INSERT INTO soooojin_lee.name_gender VALUES ('Arric', 'M')
Antonne - M
INSERT INTO soooojin_lee.name_gender VALUES ('Antonne', 'M')
Alyre - M
INSERT INTO soooojin_lee.name_gender VALUES ('Alyre', 'M')
Annaise - F
INSERT INTO soooojin_lee.name_gender VALUES ('Annaise', 'F')

In [ ]:
%%sql

SELECT * FROM soooojin_lee.name_gender;

 * postgresql://soooojin_lee:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
100 rows affected.

[('Adaleigh', 'F'),
 ('Amryn', 'Unisex'),
 ('Apurva', 'Unisex'),
 ('Aryion', 'M'),
 ('Alixia', 'F'),
 ('Alyssarose', 'F'),
 ('Arvell', 'M'),
 ('Aibel', 'M'),
 ('Atiyyah', 'F'),
 ('Adlie', 'F'),
 ('Anyely', 'F'),
 ('Aamoni', 'F'),
 ('Ahman', 'M'),
 ('Arlane', 'F'),
 ('Armoney', 'F'),
 ('Atzhiry', 'F'),
 ('Antonette', 'F'),
 ('Akeelah', 'F'),
 ('Abdikadir', 'M'),
 ('Arinze', 'M'),
 ('Arshaun', 'M'),
 ('Alexandro', 'M'),
 ('Ayriauna', 'F'),
 ('Aqib', 'M'),
 ('Alleya', 'F'),
 ('Aavah', 'F'),
 ('Anesti', 'Unisex'),
 ('Adalaide', 'F'),
 ('Analena', 'F'),
 ('Alaeyah', 'F'),
 ('Albena', 'F'),
 ('Aimi', 'F'),
 ('Adwaith', 'M'),
 ('Arkady', 'M'),
 ('Astyn', 'Unisex'),
 ('Adelee', 'F'),
 ('Agata', 'F'),
 ('Alegna', 'F'),
 ('Altan', 'M'),
 ('Ahnaleigh', 'F'),
 ('Algie', 'Unisex'),
 ('Ashanti', 'F'),
 ('Aislyn', 'F'),
 ('Adaleine', 'F'),
 ('Anthnoy', 'M'),
 ('Algernon', 'M'),
 ('Aeryona', 'F'),
 ('Adrinne', 'F'),
 ('Addell', 'F'),
 ('Avril', 'F'),
 ('Ahni', 'F'),
 ('Aimon', 'M'),
 ('Adolpho', 'M'),
 ('Ahuva', 'F'),
 ('Aurielle', 'F'),
 ('Aveana', 'F'),
 ('Aliyia', 'F'),
 ('Alesander', 'M'),
 ('Adnrea', 'F'),
 ('Anjae', 'F'),
 ('Alvine', 'F'),
 ('Adorah', 'F'),
 ('Adlemi', 'F'),
 ('Alesi', 'F'),
 ('Alontae', 'M'),
 ('Antonny', 'M'),
 ('Adarah', 'F'),
 ('Ayreanna', 'F'),
 ('Antyon', 'M'),
 ('Andia', 'F'),
 ('Ashla', 'F'),
 ('Aspyn', 'F'),
 ('Antwanett', 'F'),
 ('Aundreia', 'F'),
 ('Audella', 'F'),
 ('Amari', 'Unisex'),
 ('Arsha', 'Unisex'),
 ('Aricella', 'F'),
 ('Adan', 'M'),
 ('Apasra', 'F'),
 ('Alaysha', 'F'),
 ('Anderson', 'M'),
 ('Aurelius', 'M'),
 ('Aerial', 'F'),
 ('Averleigh', 'F'),
 ('Aslean', 'F'),
 ('Arniesha', 'F'),
 ('Asyana', 'F'),
 ('Annjane', 'F'),
 ('Amabella', 'F'),
 ('Austinjohn', 'M'),
 ('Arloween', 'F'),
 ('Alula', 'M'),
 ('Anemone', 'F'),
 ('Amorina', 'F'),
 ('Anureet', 'F'),
 ('Arric', 'M'),
 ('Antonne', 'M'),
 ('Alyre', 'M'),
 ('Annaise', 'F')]

In [ ]:
%%sql

SELECT COUNT(1)
FROM soooojin_lee.name_gender;

 * postgresql://soooojin_lee:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(100,)]